/* body{
    background-color: gray;
}

#cadastro_feito {

    position: absolute;
    background-color: red;
    color: white;
    width: 31.25rem;
    height: 12.5rem;
    left: 23%;
    top: 1.25rem;
    border-radius: 2.8125rem;
    transform: translate(-50%, -50%);
    transition: 2s ease;
    opacity: 0;

    display: none;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#cadastro_feito.active {
    opacity: 1; /* Define opacidade como 1 para mostrar a mensagem */

    body {
        background-color: gray;
    }
    
    #rolagem_cadastro {
        width: 100px;
        height: 100px;
        background-color: red;
        transition: 2s inherit;
        display: none;
    }
/*     
    #cadastro_feito:hover {
        background-color: black    
    }
        
     */