@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* pagina mural */
html{
  background-color: #212121;
}


/* NAVEGADOR LATERAL */
.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #212121;
  border: solid #212121;
  border-radius: 2px;
}

.header-left  img {
  border-radius: 100%;
  border: solid 1px #f0f0f0 ;

}

/* Nome do Usuario */
/* TEXTO DO ESTILO */
.hello, .btn-nav  {
  color: #f0f0f0;
}

/* BOTAO DE SAIR DA DASH */
.btn-logout {
  cursor: pointer;
  text-align: center;
  height: 50px;
  width: 200px;
  border-radius: 13px;
  border: none;
  padding: 10px 15px;
  background-color: #0f0f0f;
  color: #f0f0f0;
  cursor: pointer;
  font-size: 15px;
}

.btn-logout:hover {
  background-color: #161616ec;
}


/* Informaçoes da dash e texto */
.janela {
  background-color: #f0f0f0;
}


/* ComeÃ§o da dashbord */
.dash {
  margin: 30px;
  width: 80%;
  height: 610px;
  position: relative;
  left: 20%;
}

.regua {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}

/* MENSAGENS DE ACORDO COM O RESULTADO  */
.item-regua {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 50%;
  height: 120px;
  border-radius: 13px;
}


/*GRAFICO*/
#myChart {
  background-color: white;
  color: #f1f1f1;
  width: 20px;
  height: 300px;
 }

